---
title: Jots
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

{% assign jotList = site.jots | sort: 'number' %}

{% for jot in jotList %}
   {% capture jotCount %} {{ jotCount | plus: 1 }} {% endcapture %}
{% endfor %}

<body>

{% include header.html %}

  <main>
{% include cover.html %}

{% include jots.html %}
  </main>

{% include footer.html %}

<!--<script type="text/javascript" src="{{ site.baseurl }}/scripts/min/smoothscroll.min.js"></script>-->
<!--<script type="text/javascript" src="{{ site.baseurl }}/scripts/min/main-min.js"></script>-->
<!--<script type="text/javascript" src="{{ site.baseurl }}/scripts/main.js"></script>-->

</body>

</html>