  <footer class="footer-canvas" id="end">
    <div class="footer layout-2d">
      <div class="footer-count">
        <p>{{ site.posts.size }} bits, and counting.</p>
      </div>

      <div class="footer-explanation">
        <p><a href="{{ site.baseurl }}/">{{ site.title }}</a> is an ongoing collection of bits from inspiring pieces about design and development. The bits, retrieved from various digital and physical sources, are jotted here, to recall the food-for-thought later.</p>
      </div>

      {%- assign post_counter = 1 %}
      {%- assign pagination_counter = paginator.total_pages | minus : 1 %}
      {%- assign pagination_threshold_top = paginator.total_posts | minus : paginator.per_page %}
      {%- assign pagination_threshold_bottom = paginator.total_posts | modulo : paginator.per_page | plus : 1 %}

      <nav class="footer-tags">
        {%- comment %}
        <ul>
          <li>paginator.per_page : {{ paginator.per_page }}</li>
          <li>paginator.total_pages : {{ paginator.total_pages }}</li>
          <li>paginator.total_posts : {{ paginator.total_posts }}</li>
          <li>pagination_threshold_top : {{ pagination_threshold_top }}</li>
          <li>pagination_threshold_bottom : {{ pagination_threshold_bottom }}</li>
        </ul>
        {%- endcomment %}
        <div class="layout-1d">
          {%- for post in site.posts reversed %}
            {% if post.number < pagination_threshold_bottom %}
            <a class="footer-tag" href="{{ site.baseurl }}/jots/page{{ paginator.total_pages }}#jot-{{ post.number }}" title="Jot № {{ post.number }}">{% for tag in post.tags %}{% if forloop.last == true %}{{ tag }}{% else %}{{ tag }} <span>·</span> {% endif %}{% endfor %}</a>
            {% elsif post.number >= pagination_threshold_bottom and post.number <= pagination_threshold_top %}
            {%- if post_counter > paginator.per_page %}
              {%- assign pagination_counter = pagination_counter | minus : 1 %}
              {%- assign post_counter = 1 %}
            {%- endif %}
            <a class="footer-tag" href="{{ site.baseurl }}/jots/page{{ pagination_counter }}#jot-{{ post.number }}" title="Jot № {{ post.number }}">{% for tag in post.tags %}{% if forloop.last == true %}{{ tag }}{% else %}{{ tag }} <span>·</span> {% endif %}{% endfor %}</a>
            {%- assign post_counter = post_counter | plus : 1 %}
            {% elsif post.number > pagination_threshold_top %}
            <a class="footer-tag" href="/#jot-{{ post.number }}" title="Jot № {{ post.number }}">{% for tag in post.tags %}{% if forloop.last == true %}{{ tag }}{% else %}{{ tag }} <span>·</span> {% endif %}{% endfor %}</a>
            {% endif %}
          {%- endfor %}
        </div>
      </nav>

      <div class="footer-credits">Collected by <a href="http://www.andreaburan.com" target="_blank" title="Andrea’s Buran Sitefolio">Andrea Buran</a>, hosted on <a href="https://github.com/ranbureand/jots" target="_blank" title="Jots on GitHub">GitHub</a>, powered by <a href="http://jekyllrb.com/" target="_blank" title="Jekyll: Simple, blog-aware, static sites">Jekyll</a> and typesetted in <a href="https://github.com/cooperhewitt/cooperhewitt-typeface" target="_blank" title="Cooper Hewitt on GitHub">Cooper Hewitt</a>.</div>

      <div class="footer-copy"><a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" title="Creative Commons Attribution 4.0 International">Creative Commons BY</a></div>

      <div class="footer-scroll"><a href="#start">Back to the Start</a></div>
    </div>
  </footer>
