  <header class="header-canvas" id="start">
    <div class="header layout-2d">
      <!--<div class="head-logo"><svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g fill-rule="evenodd"><circle cx="4.5" cy="4.5" r="1.5"/><circle cx="4.5" cy="9.5" r="1.5"/><circle cx="4.5" cy="14.5" r="1.5"/><circle cx="4.5" cy="19.5" r="1.5"/><circle cx="9.5" cy="4.5" r="1.5"/><circle cx="9.5" cy="9.5" r="1.5"/><circle cx="9.5" cy="14.5" r="1.5"/><circle cx="9.5" cy="19.5" r="1.5"/><circle cx="14.5" cy="4.5" r="1.5"/><circle cx="14.5" cy="9.5" r="1.5"/><circle cx="14.5" cy="14.5" r="1.5"/><circle cx="14.5" cy="19.5" r="1.5"/><circle cx="19.5" cy="4.5" r="1.5"/><circle cx="19.5" cy="9.5" r="1.5"/><circle cx="19.5" cy="14.5" r="1.5"/><circle cx="19.5" cy="19.5" r="1.5"/></g></svg></div>-->
      <h1 class="header-title"><a href="{{ site.baseurl }}/">{{ site.title }}<span> is a collection of bits from inspiring pieces.</span></a></h1>
      <div class="header-index"><a href="#end">{{ site.posts.size }} bits<span>, and counting.</span></a></div>
    </div>
  </header>