<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>{{ site.title }} / A collection of bits from inspiring pieces.</title>
  <meta name="description" content="{{ site.description }}">

  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://ranbureand.github.io{{ site.baseurl }}">
  <meta property="og:image" content="http://ranbureand.github.io/jots/android-chrome-192x192.png">

  <link rel="stylesheet" href="{{ site.baseurl }}/styles/css/main.css?v=1.0"/>

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
  <link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#906ef7">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Jots">
  <meta name="application-name" content="Jots">
  <meta name="msapplication-config" content="{{ site.baseurl }}/browserconfig.xml">
  <meta name="theme-color" content="#906ef7">
</head>