    <div class="playground-canvas">
      <div class="playground layout-2d">
        <div class="jots layout-1d">
        {%- for post in paginator.posts %}
          {%- unless post.number == paginator.total_posts %}
          <div class="jot element-1d" id="jot-{{ post.number }}" data-tag="{{ post.tag }}">
            <div class="jot-number"><a href="#jot-{{ post.number }}">{{ post.number }}</a></div>
            <blockquote class="jot-body" {% if post.address %}cite="{{ post.address }}"{% endif %}>

              {{ post.content }}
            </blockquote>
            {%- if post.site %}
              <div class="jot-reference"><span>{{ post.author }}</span> in {% if post.address %}<a href="{{ post.address }}" target="_blank" title="{{ post.title }}"><cite>{{ post.title }}</cite></a>{% else %}<span><cite>{{ post.title }}</cite></span>{% endif %}, from <span>{{ post.site }}</span>.</div>
              <div class="jot-date">Jotted on <span>{{ post.date | date: "%B" }} the {% assign d = post.date | date: "%-d"  %}{% case d %}{% when '1' or '21' or '31' %}{{ d }}<sup>st</sup>{% when '2' or '22' %}{{ d }}<sup>nd</sup>{% when '3' or '23' %}{{ d }}<sup>rd</sup>{% else %}{{ d }}<sup>th</sup>{% endcase %} {{ post.date | date: "%Y" }}, at {{ post.date | date: "%H:%M" }}</span>.</div>
            {%- else %}
              <div class="jot-reference"><span>{{ post.author }}</span> in <span><cite>{{ post.title }}</cite></span>{% if post.page %}, p. <span>{{ post.page }}</span>{% elsif post.pages %}, pp. <span>{{ post.pages }}</span>{% endif %}.</div>
              <div class="jot-date">{{ post.publisher }}, {{ post.year }}.</div>
            {%- endif %}
          </div>
          {% endunless %}
        {%- endfor %}
        </div>
      </div>
    </div>